<strong>Olá {{ deliveryman }}</strong>
<p>Existe uma nova encomenda disponível para retirada, e realização da entrega:</p>
<p>
	<strong>Produto: </strong> {{ product }} <br />
	<strong>Destinatário: </strong> {{ recipient }} <br />
	<br />
	<strong>Endereço:</strong> <br />
		<strong>Cidade: </strong> {{ city }}, - {{ state }} <br />
		<strong>Rua: </strong> {{ street }}, {{ number }} <br />
		<strong>CEP: </strong> {{ zip_code }}
</p>
<p>
	<small>
		Obs.: Horário disponível para retirada do pacote das 8h e 18h.
	</small>
</p>
